[base]
app_name = ClaimMiner
secret_key = RANDOM:33
spacy_model = en_core_web_trf
google_credentials = ...
scss_file = conversence

[openai]
api_key = ...
organization = ...

[feedly]
token = ...

[oauth2_google-oauth2]
client_id = ...
client_secret = ...

