{% extends "base.html" %}
{% block title %}Reset password{% endblock %}
{% block content %}
<div>
<form id="change_password" hx-post="/f/change_password" hx-target="#content">
  <input type="hidden" name="is_reset" value="{{is_reset}}" />
  {%if not is_reset %}
  <p>
  <label for="old_password">Old password:</label>
  <input type="password" name="old_password" />
  </p>
  {%endif%}
  <p>
  <label for="new_password">New password:</label>
  <input type="password" name="new_password" />
  </p>
  <p>
  <label for="confirm">Repeat new password:</label>
  <input type="password" name="confirm" />
  </p>

  <button type="submit">Change password</button>
</form>
or <a href="/login">Login</a>
</div>
{% endblock %}
